/* navbar start */
.navContainer {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 2px 2px 10px darkgray;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.navCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.InputContainer {
  display: flex;
  flex-grow: 1;
  margin: 0 50px;
}

.navCenter .Logo {
  font-size: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  margin: 0px 20px;
  font-size: 18px;
  color: black;
  border: none;

  padding: 0px 5px;

  /* transition: all linear; */
}

nav a:active {
  color: rgba(0, 0, 0, 0.507);
}

nav input {
  border: 2px solid darkgrey;
  /* border-color: darkgray; */
  border-radius: 5px;
  color: rgb(100, 100, 100);
  font-size: 20px;
  padding: 2px 5px;
  outline-color: 2px solid black;
  width: 50%;
}
nav input::placeholder {
  font-size: 16px;
  padding: 5px;
  font-weight: bold;
  color: rgba(169, 169, 169, 0.466);
}

@media screen and (max-width: 819px) {
  .navCenter {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    position: relative;
    margin: 0 10px;
  }
  .navCenter .Logo {
    display: none;
  }
  .navCenter input {
    width: 100%;
  }
  nav a {
    margin: 0px 5px;
    font-size: 16px;
  }
}
/* navbar end */
